html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/*------------------navbar--------------------- */

header {
    position: relative;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease;
}


.navbar.scrolled {
    background: black;
}

.navbar:hover {
    background: #000;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo strong {
    font-weight: 900;
    color: white;
    font-size: 22px;
}

.logo span {
    color: red;
    font-size: 30px;
}

.logo p {
    display: block;
    margin: 0;
    font-size: 10px;
    opacity: 0.8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
    font-size: 19px;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: grey;
}

.nav-links a:hover {
    color: white;
    transition: transfrom 0.5s ease;
}

.search-container {
    width: 370px;
    border: 2px solid #eeeeee67;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s;
    margin-right: 8px;
}

.search-container:hover {
    border-color: #ffffff;
}

.search-field {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: white;
}

.search-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    color: #eee;
}

.mobile-user {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.login {
    display: flex;
    align-items: center;
}

.login .icon {
    border-radius: 30px;
    width: auto;
}

.icon {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    white-space: nowrap;
    border: 1px solid grey;
    padding: 6px 14px;
    color: grey;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.icon i {
    font-size: 14px;
}

.icon:hover {
    background: white;
    color: black;
    transition: 0.3s;
}

/*-----------------login modal--------------*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    padding-top: 40px;
}

.modal-content {
    background: #949fa49d;
    padding: 20px;
    width: 400px;
    height: 610px;
    margin: 10px auto;
    border-radius: 20px;
    text-align: center;
    color: #FCBF49;
}

.modal-content h2 {
    margin: 0;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.modal-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-logo strong {
    font-weight: 900;
    color: white;
    font-size: 22px;
}

.modal-logo span {
    color: red;
    font-size: 30px;
}

.modal-logo p {
    display: block;
    margin: 0;
    font-size: 10px;
    opacity: 0.8;
}

.login-text {
    margin: 5px 0;
    color: #000;
}

.input-box {
    position: relative;
    margin: 5px;
    margin-top: 20px;
}

.input-box label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 30px;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 66%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    margin-left: 10px;
}

.input-box input {
    width: 70%;
    padding: 13px 50px 13px 30px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.login-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-options label {
    color: #000000;
}

.login-options input[type="checkbox"] {
    accent-color: #000000;
    cursor: pointer;
    display: inline-block;
}

.login-options a {
    text-decoration: none;
    color: #000100;
    font-weight: 600;
}

.login-options a:hover {
    text-decoration: underline;
}

.btn1 {
    width: 200px;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 240, 240);
    font-weight: 600;
    margin-bottom: 5px;
}

.btn1:hover {
    background: rgba(222, 8, 8, 0.864);
    transition: transfrom 0.5s ease;
}

.divider {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #000000;
}

.divider span {
    padding: 0 15px;
    font-size: 14px;
    color: #000000;
}

.btn2 {
    width: 60%;
    height: 48px;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    color: BLACK;
    font-weight: 600;
    margin: 5px;
}

.btn2:hover {
    background: #b00101;
    transition: transfrom 0.5s ease;
    color: #ffffff;
}

.signup-text {
    margin: 5px 0;
    color: #000;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #000;
}

/*-----------------videos--------------------*/

.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    position: absolute;
    top: 50%;
    left: 70%;
    right: 0;
    transform: translateY(-50%);
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-row: span 1;
}

.controls button {
    margin: 5px;
    padding: 8px 12px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.controls button:hover {
    color: yellow;
    transition: transfrom 0.5s ease ease;
}

#muteBtn {
    position: absolute;
    bottom: 80px;
    right: 40px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/*-----------------destination search box--------------------*/

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 6px;
    border-radius: 18px;
    position: relative;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.fields {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-right: 1px solid #ddd;
    flex: 1;
    position: relative;
}

.fields select {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
}

.fields:last-child {
    border-right: none;
}

.fields label {
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
}


.fields input {
    border: none;
    outline: none;
    font-size: 14px;
}

.search-btn5 {
    background: #f91616;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

/*------------------ destination--------------------- */

.text-center {
    text-align: center !important;
}

.text-center h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 10px;
}

.text-center p {
    margin-top: 0;
    margin-bottom: 2rem;
}

#destination {
    padding: 32px;
    margin-bottom: 10px;
}

#destination .destination-slider {
    height: auto;
    padding: 20px 0;
    position: relative;
}

.destination-slide {
    width: 360px;
    height: auto;
    position: relative;
    background: #FFEDCE;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}

.destination-slide .destination-slide-img {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.destination-slide .destination-slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.destination-slide .destination-slide-content {
    position: static;
    padding: 15px;
    color: #333;
}

.destination-slide-content .destination-slide-content-bottom {
    position: static;
}

.destination-slide-content h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-location {
    font-size: 14px;
    color: #c0392b;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-airport {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 13px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 400;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer span {
    font-size: 13px;
}

.card-footer button {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.swiper-pagination {
    position: relative;
    width: 15rem;
    margin-top: 23px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: red;
}

/*------------------Experiences--------------------- */

#experiences {
    padding: 80px 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f4b04a;
    background-image:
        repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 2px,
            transparent 2px,
            transparent 12px),
        repeating-linear-gradient(-45deg,
            rgba(0, 0, 0, 0.03) 0px,
            rgba(0, 0, 0, 0.03) 2px,
            transparent 2px,
            transparent 12px);
}

.title {
    font-size: 4rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.tagline {
    color: rgb(243, 243, 243);
    margin-bottom: 50px;
    margin-top: 0;
}

.exp-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: auto;
    padding-bottom: 80px;
}


.exp-wrapper::-webkit-scrollbar {
    display: none;
}


.exp-box {
    min-width: 250px;
    background: #000;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px 20px;
    transition: 0.2s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.exp-box:hover {
    transform: translateY(-10px) scale(1.05);
}

.exp-box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5%;
}

.exp-box h3 {
    text-align: start;
    color: #c91400;
}

.exp-box h3 span {
    color: #f2f2f2;
}

.exp-box p {
    font-size: 0.9rem;
    color: #f2f2f2;
    text-align: start;
}

/*------------------ packages--------------------- */

#packages {
    padding: 80px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.section-title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 40px;
}

.filter-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}

.filter-buttons button.active,
.filter-buttons button:hover {
    background: red;
}

.packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding-bottom: 20px;
}

.package-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s ease;
    display: none;
}

.package-card.show {
    transform: translateY(0);
    opacity: 1;
}

.package-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
}

.package-card:hover img {
    transform: scale(1.1);
}

.card-content {
    padding: 20px;
    background: #000;
}

.card-content h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #f4b04a;
}

.card-content p {
    color: #fff;
    margin: 10px 0;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-weight: 600;
    color: #ffffff;
}

.rating {
    color: #ffb300;
    font-size: 15px;
    margin-bottom: 12px;
}

.rating span {
    color: #777;
    margin-left: 5px;
}

.card-content button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #f91900;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.card-content button:hover {
    background: #000000;
    border-style: inset;
}

/*------------------travel guid --------------------- */

#travel-guide {
    padding: 200px 0;
}

.travel-guide {
    background: #ffffff;
    overflow: hidden;
}

.travel-guide .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
}

.section-subtitle {
    color: #f59e0b;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.guide-title {
    font-size: 32px;
    font-weight: 800;
    color: #111827;
    margin: 10px;
}

.section-text {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 30px;
}

.guide-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.explore-btn {
    align-items: center;
    gap: 12px;
    background: #0f172a;
    color: #fff;
    padding: 15px 10px;
    width: 50%;
    border-radius: 14px;
    text-decoration: none;
    font-weight: 600;
    transition: .35s ease;
    box-shadow: 0 15px 35px rgba(15, 23, 42, .15);
}

.explore-btn i {
    transition: .35s;
}

.explore-btn:hover {
    background: #1e293b;
    transform: translateY(-4px);
}

.explore-btn:hover i {
    transform: translateX(5px);
}


.travellers {
    display: flex;
    align-items: center;
    gap: 18px;
}

.avatars {
    display: flex;
    align-items: center;
}

.avatars img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-left: -12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .15);
    transition: .3s;
}

.avatars img:first-child {
    margin-left: 0;
}

.avatars img:hover {
    transform: translateY(-6px);
}

.travellers p {
    color: #4b5563;
    font-size: 15px;
    font-weight: 500;
}

.travellers span {
    color: #f59e0b;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.travel-guide * {
    transition: .3s ease;
}

.guide-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    position: relative;
}

.guide-card {
    background: #ffffff;
    border-radius: 28px;
    overflow: hidden;
    position: relative;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, .05),
        0 25px 60px rgba(0, 0, 0, .08);
    transition: .45s ease;
    cursor: pointer;
}

.guide-card:hover {
    transform: translateY(-15px);
    box-shadow:
        0 18px 40px rgba(0, 0, 0, .10),
        0 40px 70px rgba(0, 0, 0, .12);
}


.guide-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.guide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s;
}

.guide-card:hover .guide-image img {
    transform: scale(1.08);
}


.guide-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .28),
            rgba(0, 0, 0, .02));
    opacity: 0;
    transition: .45s;
    z-index: 1;
}

.guide-card:hover .guide-image::before {
    opacity: 1;
}

.icon-box {
    position: absolute;
    top: 157px;
    right: 130px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, .12);

    z-index: 20;
}

.icon-box i {
    font-size: 24px;
    color: #ff7a00;
    transition: .35s;
}

.guide-card:hover .icon-box {
    background: #ff7a00;
}

.guide-card:hover .icon-box i {
    color: #fff;
    transform: rotate(12deg) scale(1.15);
}

.card-contents {
    padding: 30px;
    background: #000;
}


.card-contents h3 {
    font-size: 14px;
    color: #fb0000;
    margin-bottom: 6px;
    font-weight: 600;
}

.card-contents p {
    color: #ffffff;
    margin: 10px 0;
    font-size: 15px;
}

.read-more {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #856a6a;
    font-weight: 600;
    transition: .35s;
}

.read-more i {
    transition: .35s;
}

.guide-card:hover .read-more {
    color: #ff7a00;
}

.guide-card:hover .read-more i {
    transform: translateX(8px);
}

.guide-card::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background: #ff7a00;
    transition: .45s;
}

.guide-card:hover::after {
    width: 100%;
}

.guide-card {
    opacity: 0;
    transform: translateY(70px);
    transition:
        opacity .7s ease,
        transform .7s ease,
        box-shadow .35s ease;
}

.guide-card.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes floatCard {
    0% {

        transform: translateY(0);
    }

    50% {

        transform: translateY(-8px);
    }

    100% {

        transform: translateY(0);
    }
}

.guide-card:nth-child(1) {
    animation: floatCard 5s ease-in-out infinite;
}

.guide-card:nth-child(2) {
    animation: floatCard 6s ease-in-out infinite;
}

.guide-card:nth-child(3) {
    animation: floatCard 7s ease-in-out infinite;
}

.guide-card:nth-child(4) {
    animation: floatCard 5.5s ease-in-out infinite;
}

.guide-card:hover {
    cursor: pointer;
}


/*------------------conatct--------------------- */

#contact {
    padding: 80px 40px;
    background: url("./assests/images/conatct.png");
    object-fit: fill;
}

.contact-wrapper {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 40px 0;
}

.contact-left {
    max-width: 450px;
    width: 100%;
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    color: #f4b04a;
    font-weight: 600;
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.contact-info .info-main {
    color: white;
    font-size: 50px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-info .info-sub {
    font-size: 20px;
    color: white;
}


.info-icon {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.info-box {
    position: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 12px 30px rgba(0, 0, 0, .12);
}

.info-box i {
    font-size: 24px;
    color: #ff7a00;
    transition: .35s;
}

.info-icon:hover .info-box {
    background: #ff7a00;
}

.info-icon:hover .info-box i {
    color: #fff;
    transform: rotate(12deg) scale(1.15);
}


.contact-form {
    max-width: 500px;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(0, 0, 0, 0.386);
    padding: 25px;
    border-radius: 15px;
}

.conatct-heading {
    color: white;
    margin: 0;
    font-size: 20px;
}

.conatct-title {
    color: white;
    font-size: 12px;
    margin-top: 0;
}

.user {
    display: flex;
    gap: 10px;
}

.user .name {
    width: 50%;
}

.user .email {
    display: inline-block;
    width: 50%;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    background-color: transparent;
    color: white;
}

.contact-form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #ff7b00, #ffae00);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: scale(1.05);
}

/*------------------footer--------------------- */

#footer {
    background: #0f2027;
    color: white;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 40px;
}


.footer-box {
    flex: 2;
    min-width: 100px;
    margin: 0 30px;
}

.footer-logo {
    margin-top: 18px;
    justify-content: center;
    text-align: center;
}

.footer-logo strong {
    color: #f2f2f2;
    font-size: 30px;
}

.footer-logo strong span {
    color: #c91400;
    font-size: 40px;
}

.footer-logo p {
    margin-top: 0;
    font-weight: bold;
    padding-bottom: 20px;
}


.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin: 8px 0;
}

.footer-box ul li a {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-box ul li a:hover {
    color: #ff7b00;
    opacity: 1;
}

.footer-text {
    font-size: 12px;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.social-icons a {
    font-size: 1.5rem;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff7b00;
}

.footer-button {
    background: red;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 20px;
    cursor: pointer;
}

.footer-button:hover {
    background: transparent;
}

.footer-box img {
    border-radius: 15px;
    width: 50%;
    height: 55%;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9rem;
    opacity: 0.7;
    padding-bottom: 40px;
}

.footer-bottom h3 {
    margin-top: 0;
}

.ham {
    display: none;
}
